---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="link" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <h3 class="title">{{ post.title }}</h3>
                    <aside>
                        {% if post.pdf %}
                            <a class="link" style="text-decoration:none"  href="https://dl.acm.org/doi/{{ post.pdf }}" target="_blank">
                                <svg class="icon icon-scholar"><use xlink:href="#icon-scholar"></use></svg>
                            </a>
                        {% endif %}
                        
                        {% if post.github %}
                            &nbsp;&nbsp;
                            <a class="link" style="text-decoration:none" href="https://github.com/homarques/{{ post.github }}" target="_blank">
                                <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
                            </a>
                        {% endif %}
                    </aside>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
