---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <aside>
                    {% if post.pdf %}
                        <a class="link" style="text-decoration:none"  href="https://{{ post.pdf }}" target="_blank">
                            <svg class="icon icon-pdf"><use xlink:href="#icon-pdf"></use></svg>
                        </a>
                    {% endif %}
                        
                    {% if post.github %}
                        &nbsp;&nbsp;
                        <a class="link" style="text-decoration:none" href="https://github.com/homarques/{{ post.github }}" target="_blank">
                            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
                        </a>
                    {% endif %}
                </aside>
                {% if post.link %}
                    <a class="link" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                {% else %}
                    <h3 class="title">{{ post.title }}</h3>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</section>
