{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <a class="link" data-title="Tabacaria" href="https://www.azores-adventures.com/2015/10/tabacaria-by-fernando-pessoa-%C3%A1lvaro-de-campos.html" target="_blank">
        {{ site.bio | smartify }}<svg class="icon icon-bio"><use xlink:href="#icon-bio"></use></svg>
        </a>
        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
